.notification-container {
    position: relative;
}

.notification-popup {
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    height: 500px;
    background-color: rgb(63, 60, 60);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
    overflow: auto;
}

.notification-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

.notification-item.read {
    background-color: #3a3333;
    opacity: 0.6;
}

.notification-info {
    display: flex;
    align-items: center;
}

.notification-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-item span {
    flex: 1;
    font-size: 14px;
}

.mark-all-btn {
    background-color: #f1f1f1;
    color: #007bff;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.mark-all-btn:hover {
    background-color: #007bff;
    color: #f1f1f1;
}

.no-notifications {
    color: #999;
    font-size: 14px;
    text-align: center;
}

.show-more-btn {
    display: block;
    margin: 10px auto;
    background-color: #f1f1f1;
    color: #087af4;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-btn:hover {
    background-color: #007bff;
    color: white;
}

.noti-icon-btn {
    position: relative;
    cursor: pointer;
}

.noti-icon-btn svg {
    width: 28px;
    height: 28px;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
}
.notif-content {
    font-size: 14px;
    margin-left: 10px;
    line-height: 1.5;
}
